<div class="row" id="@@id">
    <div class="col-xs-12 mt-4">
        <strong class="uppercase">Componentes</strong>
        <h1 class="mt-1">Cards</h1>
        <h2>Las cards o fichas son apropiadas para mostrar contenido destacado o que se repite, como productos, entradas de blog, tablas de precios, etc.</h2>
    </div>
</div>

<div class="row mt-6">
    <div class="col-xs-12 mb-2">
        <h3>Cards CTA</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <img src="assets/img/card-orange.png" alt="card naranja">
    </div>
    <div class="col-xs-12 col-md-5">
        <img src="assets/img/card-blue.png" alt="card azul">
        <img class="mt-2" src="assets/img/card-white.png" alt="card blanco">
    </div>
</div>
<div class="row mt-6">
    <div class="col-xs-12 mb-2">
        <h3>Card con contenido</h3>
    </div>
</div>
<div class="row mb-8">
    <div class="col-xs-12 col-md-6">
        <img class="sf-card" src="assets/img/card-icon.png" alt="card icono">
        <img class="sf-card mt-2" src="assets/img/card-complex.png" alt="card contenido">
    </div>
    <div class="col-xs-12 col-md-6">
        <img class="sf-card" src="assets/img/card-blog.png" alt="card blog">
    </div>
</div>
