<div class="row" id="@@id">
    <div class="col-xs-12 mt-4">
        <strong class="uppercase">Guía de estilos</strong>
        <h1 class="mt-1">Colores corporativos</h1>
        <h2>Principalmente usamos nuestros dos colores corporativos y el color acentuado. Siempre respetando el ratio de
            contraste óptimo entre texto y background.</h2>
    </div>
</div>

<div class="row mt-6">
    <div class="col-xs-12 mb-2">
        <h3>Colores primarios</h3>
    </div>
    <div class="col-xs-12 col-md-3">
        <img class="shadow" src="assets/img/card-color-red-primary.png">
    </div>
    <div class="col-xs-12 col-md-3">
        <img class="shadow" src="assets/img/card-color-orange-secondary.png">
    </div>
    <div class="col-xs-12 col-md-3">
        <img class="shadow" src="assets/img/card-color-blue-accent.png">
    </div>
    <div class="col-xs-12 col-md-3">
        <span>Primary RED recomendado para backgrounds, CTA, textos destacados, etc.</span>
        <p>Secondary ORANGE usado en botones, elementos de interfaz y en nuestra línea gráfica.</p>
        <p>Accent BLUE se debe usar con moderación, para CTA, elementos destacados, etc.</p>
    </div>
</div>

<div class="row mt-6">
    <div class="col-xs-12 mb-2">
        <h3>Colores secondarios</h3>
    </div>
    <div class="col-xs-12 col-md-4">
        <img class="shadow" src="assets/img/card-color-black-text.png">
    </div>
    <div class="col-xs-12 col-md-4">
        <img class="shadow" src="assets/img/card-color-success.png">
    </div>
    <div class="col-xs-12 col-md-4">
        <img class="shadow" src="assets/img/card-color-warning.png">
    </div>
    <div class="col-xs-12 col-md-4 mt-2">
        <img class="shadow" src="assets/img/card-color-grey.png">
    </div>
    <div class="col-xs-12 col-md-4 mt-2">
        <img class="shadow" src="assets/img/card-color-grey-light.png">
    </div>
    <div class="col-xs-12 col-md-4 mt-2">
        <img class="shadow" src="assets/img/card-color-light.png">
    </div>
</div>

<div class="row mt-6 mb-8">
    <div class="col-xs-12 mb-2">
        <h3>Uso de los colores</h3>
    </div>
    <div class="col-xs-12 col-md-7">
        <div class="mb-2">
            <span class="text-h2">75%</span><br>
            <small>Blancos y colores claros</small>
        </div>
        <img src="assets/img/use-color-75.png">
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="mb-2">
            <span class="text-h2">20%</span><br>
            <small>Primarios y secundarios</small>
        </div>
        <img src="assets/img/use-color-20.png">
    </div>
    <div class="col-xs-12 col-md-2">
        <div class="mb-2">
            <span class="text-h2">5%</span><br>
            <small>Accent</small>
        </div>
        <img src="assets/img/use-color-5.png">
    </div>
</div>